<a href="https://colab.research.google.com/github/Jenishbh/CS483/blob/master/Lab7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
from google.colab import drive
drive.mount('/content/drive')
# mount '/content/drive' to virtual machine directory for google colab user
#below where the file is in gdrive, change with your
data_path = "/content/drive/My Drive/Colab Notebooks/"
import pickle
dogs_dict = { 'Ozzy': 3, 'Filou': 8, 'Luna': 5, 'Skippy': 10, 'Barco': 12, 'Balou': 9, 'Laika': 16 }
filename = 'dogs'
outfile = open(data_path+filename,'wb') # b: binary
pickle.dump(dogs_dict,outfile)
outfile.close() # File "dogs" will be created in your google drive
infile = open(data_path+filename,'rb')
new_dict = pickle.load(infile)
infile.close()
print(new_dict)
print(new_dict==dogs_dict)
print(type(new_dict))
import bz2 # Compressing pickle files
sfile = bz2.BZ2File(data_path+'smallerfile', 'w')
pickle.dump(dogs_dict, sfile) # zipped file "smallerfile" will be in your google drive
infile = open(data_path+filename,'rb')
new_dict = pickle.load(infile, encoding='latin1')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
{'Ozzy': 3, 'Filou': 8, 'Luna': 5, 'Skippy': 10, 'Barco': 12, 'Balou': 9, 'Laika': 16}
True
<class 'dict'>

In [21]:
!pip install quandl



import quandl
import pandas as pd
# Access to https://www.quandl.com/
# Create account and then you will get your own api key
# DON'T USE MY API KEY
api_key = '512wmNEnHco4U5xxKQ5X'
df = quandl.get("FMAC/HPI_TX", authtoken=api_key)
print(df.head())
fiddy_states = pd.read_html('https://simple.wikipedia.org/wiki/List_of_U.S._states')
print(fiddy_states)
print(fiddy_states[0])

Requirement already satisfied: quandl in /usr/local/lib/python3.6/dist-packages (3.5.0)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from quandl) (8.4.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from quandl) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from quandl) (1.12.0)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.18.5)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.0.4)
Requirement already satisfied: inflection>=0.3.1 in /usr/local/lib/python3.6/dist-packages (from quandl) (0.5.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2020.4.5.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2.9)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14->quandl) (2018.9)
            NSA Value   SA Value
Date
1975-01-31  32.836319  32.820449
1975-02-28  33.065193  33.042385
1975-03-31  33.576467  33.460595
1975-04-30  34.366551  34.204250
1975-05-31  34.559775  34.335558
[    Name &postal abbreviation[1]  ... Numberof Reps.
    Name &postal abbreviation[1]  ... Numberof Reps.
0                        Alabama  ...              7
1                         Alaska  ...              1
2                        Arizona  ...              9
3                       Arkansas  ...              4
4                     California  ...             53
5                       Colorado  ...              7
6                    Connecticut  ...              5
7                       Delaware  ...              1
8                        Florida  ...             27
9                        Georgia  ...             14
10                        Hawaii  ...              2
11                         Idaho  ...              2
12                      Illinois  ...             18
13                       Indiana  ...              9
14                          Iowa  ...              4
15                        Kansas  ...              4
16       Kentucky[upper-alpha 3]  ...              6
17                     Louisiana  ...              6
18                         Maine  ...              2
19                      Maryland  ...              8
20  Massachusetts[upper-alpha 3]  ...              9
21                      Michigan  ...             14
22                     Minnesota  ...              8
23                   Mississippi  ...              4
24                      Missouri  ...              8
25                       Montana  ...              1
26                      Nebraska  ...              3
27                        Nevada  ...              4
28                 New Hampshire  ...              2
29                    New Jersey  ...             12
30                    New Mexico  ...              3
31                      New York  ...             27
32                North Carolina  ...             13
33                  North Dakota  ...              1
34                          Ohio  ...             16
35                      Oklahoma  ...              5
36                        Oregon  ...              5
37   Pennsylvania[upper-alpha 3]  ...             18
38   Rhode Island[upper-alpha 4]  ...              2
39                South Carolina  ...              7
40                  South Dakota  ...              1
41                     Tennessee  ...              9
42                         Texas  ...             36
43                          Utah  ...              4
44                       Vermont  ...              1
45       Virginia[upper-alpha 3]  ...             11
46                    Washington  ...             10
47                 West Virginia  ...              3
48                     Wisconsin  ...              8
49                       Wyoming  ...              1

[50 rows x 13 columns]]
    Name &postal abbreviation[1]  ... Numberof Reps.
    Name &postal abbreviation[1]  ... Numberof Reps.
0                        Alabama  ...              7
1                         Alaska  ...              1
2                        Arizona  ...              9
3                       Arkansas  ...              4
4                     California  ...             53
5                       Colorado  ...              7
6                    Connecticut  ...              5
7                       Delaware  ...              1
8                        Florida  ...             27
9                        Georgia  ...             14
10                        Hawaii  ...              2
11                         Idaho  ...              2
12                      Illinois  ...             18
13                       Indiana  ...              9
14                          Iowa  ...              4
15                        Kansas  ...              4
16       Kentucky[upper-alpha 3]  ...              6
17                     Louisiana  ...              6
18                         Maine  ...              2
19                      Maryland  ...              8
20  Massachusetts[upper-alpha 3]  ...              9
21                      Michigan  ...             14
22                     Minnesota  ...              8
23                   Mississippi  ...              4
24                      Missouri  ...              8
25                       Montana  ...              1
26                      Nebraska  ...              3
27                        Nevada  ...              4
28                 New Hampshire  ...              2
29                    New Jersey  ...             12
30                    New Mexico  ...              3
31                      New York  ...             27
32                North Carolina  ...             13
33                  North Dakota  ...              1
34                          Ohio  ...             16
35                      Oklahoma  ...              5
36                        Oregon  ...              5
37   Pennsylvania[upper-alpha 3]  ...             18
38   Rhode Island[upper-alpha 4]  ...              2
39                South Carolina  ...              7
40                  South Dakota  ...              1
41                     Tennessee  ...              9
42                         Texas  ...             36
43                          Utah  ...              4
44                       Vermont  ...              1
45       Virginia[upper-alpha 3]  ...             11
46                    Washington  ...             10
47                 West Virginia  ...              3
48                     Wisconsin  ...              8
49                       Wyoming  ...              1

[50 rows x 13 columns]

In [26]:



%cd Colab Notebooks/
import pandas

df=pd.read_csv('nyc.csv', index_col=0)
df

[Errno 2] No such file or directory: 'Colab Notebooks/'
/content/drive/My Drive/Colab Notebooks

             Date  Max.TemperatureF  ...                 city  season
1      1948-07-01                84  ...  New York City (USA)  Summer
2      1948-07-02                82  ...  New York City (USA)  Summer
3      1948-07-03                78  ...  New York City (USA)  Summer
4      1948-07-04                84  ...  New York City (USA)  Summer
5      1948-07-05                93  ...  New York City (USA)  Summer
...           ...               ...  ...                  ...     ...
24623  2015-12-27                63  ...  New York City (USA)  Winter
24624  2015-12-28                48  ...  New York City (USA)  Winter
24625  2015-12-29                49  ...  New York City (USA)  Winter
24626  2015-12-30                51  ...  New York City (USA)  Winter
24627  2015-12-31                52  ...  New York City (USA)  Winter

[24560 rows x 25 columns]